@import url('https://fonts.googleapis.com/css?family=Ubuntu:300,400,500,700&display=swap');

*{
    font-family: 'Ubuntu', sans-serif;
    letter-spacing: 0.5px;
}

body{
    padding-left: constant(safe-area-inset-left);
    padding-right: constant(safe-area-inset-right);
}

p{
    line-height: 1.7;
}

button.btn{
    border-radius: 10px;
    box-shadow: 0px 0px 7px #bbbbbb;
}

button.btn-primary{
    color: #ffffff;
    background-color:#1BBFC7;
    border-width: 3px;
    border-color: #1BBFC7;
    font-weight: bold;
}

img.scale{
    transition: transform .2s;
}

img.scale:hover{
    transform: scale(1.05);
}

button.btn-primary:hover{
    background-color: #21B6BE;
    border-color: #21B6BE;
}


button.btn-outline-primary{
    background-color: #ffffff;
    border-color: #1BBFC7;
    border-width: 3px;
    color: #1BBFC7;
    font-weight: bold;
}

button.btn-outline-primary:hover{
    color: #ffffff;
    background-color:#1BBFC7;
    border-color: #1BBFC7;
    text-decoration: none;
}

a.no-underline:hover{
    text-decoration: none !important;
}

button.btn-outline-secondary{
    border-width: 3px;
}

button.btn-outline-dark{
    border-width: 3px;
    border-color: #575757;
    background-color: white;
    color: #575757;
}

button.btn-outline-dark:hover{
    border-color: #575757;
    background-color: #575757;
}

i.fa-secondary{
    color: #666666;
    transition: transform .2s;
}

i.fa-secondary:hover{
    color: #4D4D4D;
    transform: scale(1.05);
}

i.fa-primary{
    color: #1BBFC7;
    transition: transform .2s;
}

i.fa-primary:hover{
    color: #1BBFC7;
    transform: scale(1.05);
}

input.form-control{
    border-color: #666666;
}

select.custom-select{
    border-color: #666666;
}

a.secondary{
    color: #3D3D3D !important;
}

.list-group-item-lg > a{
    font-size: 20px;
    font-weight: 600;
}

.list-group-item-lg > span{
    font-size: 15px;
    font-weight: 600;
}

span.badge{
    background-color: #1BBFC7;
}

h1.text-secondary, h2.text-secondary, h3.text-secondary, h4.text-secondary, h5.text-secondary{
    color: #274A60 !important;
}

h5.text-dark, h4.text-dark, h3.text-dark{
    color: #575757 !important;
}

strong.text-dark{
    color: #575757 !important;
}

p.text-dark{
    color: #575757 !important;
}

small.text-dark{
    color: #575757 !important;
}

a.badge{
    color: #3D3D3D;
}

a.badge:hover{
    color: #1BBFC7;
}

a.badge-primary{
    color: #ffffff;
    background-color: #1BBFC7;
}

a.badge-primary:hover{
    background-color: #1BBFC7 !important;
}

i.secondary{
    color: #666666;
}

div.card{
    border-color: white;
    border-radius: 20px;
    box-shadow: 0px 0px 10px #666666;
}

nav.navbar-light{

}

i.text-primary{
    color:#1BBFC7 !important;
}


a.text-primary{
    color:#1BBFC7 !important;
}

a.text-primary:hover{
    color:#1BBFC7 !important;
}

a.text-primary > h4{
    color:#1BBFC7;
}

strong.text-primary{
    color:#1BBFC7 !important;
}

h4:hover{
    color: white;
}

div.category{
    border-radius: 25px;
    width: 155px;
}

div.progress{
    border-radius: 25px;
}

div.bg-primary{
    background-color: #1BBFC7 !important;
    color: #1BBFC7;
    border-radius: 25px;

}

select.form-control{
    border-color: #666666;
}

.fade-in{
    -webkit-animation: fadein 2s; /* Safari, Chrome and Opera > 12.1 */
       -moz-animation: fadein 2s; /* Firefox < 16 */
        -ms-animation: fadein 2s; /* Internet Explorer */
         -o-animation: fadein 2s; /* Opera < 12.1 */
            animation: fadein 2s;
}

@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Firefox < 16 */
@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Safari, Chrome and Opera > 12.1 */
@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Internet Explorer */
@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* Opera < 12.1 */
@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

a.nav-link{
    font-weight: bold;
}

img.float{
    transform: translatey(0px);
	animation: float 7s ease-in-out infinite;
}

@keyframes float {
	0% {
		transform: translatey(0px);
	}
	50% {
		transform: translatey(-50px);
	}
	100% {
		transform: translatey(0px);
	}
}

.text-bold{
    font-weight: bold;
}

.text-medium{
    font-weight: 500;
}

img.zoom{
    transition: transform .2s;
}

img.zoom:hover{
    transform: scale(1.2);
}

img.shake:hover{
    animation: shake 0.82s cubic-bezier(.36,.07,.19,.97) both;
    transform: translate3d(0, 0, 0);
    backface-visibility: hidden;
    perspective: 1000px;
}

@keyframes shake {
    10%, 90% {
      transform: translate3d(-1px, 0, 0);
    }
    
    20%, 80% {
      transform: translate3d(2px, 0, 0);
    }
  
    30%, 50%, 70% {
      transform: translate3d(-4px, 0, 0);
    }
  
    40%, 60% {
      transform: translate3d(4px, 0, 0);
    }
} 